.block {
  width: 200px;
  height: 200px;
  background: wheat;
  /*margin-top: 20px;
  margin-left: 30px;*/
  margin: 100px 150px 200px 250px;
  border-top: 10px solid #66f;
  border-bottom: 20px dashed #FF5;
}
