doctype html
html
  head
    title Препроцессоры
    meta(charset="utf-8")
    link(rel="stylesheet" href="css/main.css")
  body
    include blocks/main.pug
    include blocks/header.pug
    div.test
      |Test
